#Data Structure Theory Questions

Data Structures and Types: Theory Questions
1. What are data structures, and why are they important?
A

data structure is a specialized format for organizing, processing, retrieving, and storing data. They are essential because they provide efficient ways to handle large amounts of data, making it easier for programs to perform operations and for programmers to manage information effectively. The choice of data structure can significantly impact a program's performance.

2. Explain the difference between mutable and immutable data types with examples.
The core difference lies in whether an object's state can be changed after it's created.


Mutable objects can be modified after creation. For example, you can add, remove, or change elements within a

list.


Immutable objects cannot be changed after creation. If you want to alter one, you must create a new object. Examples include

strings and tuples.


3. What are the main differences between lists and tuples in Python?
The main differences are:


Mutability: Lists are mutable, while tuples are immutable.

Syntax: Lists use square brackets [], whereas tuples use parentheses ().


Use Case: Lists are for collections that might change, and tuples are for fixed collections that should not change.

4. Describe how dictionaries store data.
Dictionaries in Python store data as

key-value pairs. Each unique key is mapped to a specific value, allowing for quick retrieval of the value if you know the key.

5. Why might you use a set instead of a list in Python?
You would use a set over a list primarily for two reasons:


Uniqueness: Sets automatically enforce that all elements are unique by not allowing duplicate values.



Fast Membership Testing: Checking if an item is present in a set is significantly faster than checking for its presence in a list, especially for large collections.

6. What is a string in Python, and how is it different from a list?
A

string is a sequence of characters used to represent text. The primary difference from a list is that strings are


immutable, meaning their contents cannot be changed after creation, while lists are mutable.


7. How do tuples ensure data integrity in Python?
Tuples ensure data integrity because they are

immutable. Once a tuple is created, its elements cannot be altered, added, or removed. This guarantees that the data within the tuple remains constant throughout the program's execution, preventing accidental modifications.


8. What is a hash table, and how does it relate to dictionaries in Python?
A

hash table is a data structure that maps keys to values for highly efficient lookup. Python's

dictionaries are implemented using hash tables, which is why they are so efficient at looking up, adding, and deleting elements.

9. Can lists contain different data types in Python?
Yes,

lists in Python can contain elements of different data types within the same list. For example,

[1, "hello", 3.14, True] is a valid list.

10. Explain why strings are immutable in Python.
Strings are immutable in Python for reasons of efficiency and safety. Since they cannot be changed, Python can optimize their storage and reuse them. This also allows them to be used as keys in dictionaries, which require immutable keys.

11. What advantages do dictionaries offer over lists for certain tasks?
For tasks involving lookups, dictionaries are far superior. To find an element in a list, you might have to scan the entire list. With a dictionary, you can access a value directly via its key, which is a much faster operation.

12. Describe a scenario where using a tuple would be preferable over a list.
A tuple would be preferable when you have a collection of items that should not change. For example, storing the coordinates of a point (x, y), the days of the week, or RGB color values. Using a tuple in these cases ensures that the data remains constant and protected from accidental changes.

13. How do sets handle duplicate values in Python?
Sets automatically

ignore duplicate values. If you try to add an element to a set that already contains that element, the set simply remains unchanged.

14. How does the "in" keyword work differently for lists and dictionaries?
In a

list, the in keyword checks if an element exists among the list's values.

In a

dictionary, the in keyword checks if an element exists among the dictionary's keys, not its values.

15. Can you modify the elements of a tuple? Explain why or why not.
No, you

cannot modify the elements of a tuple. This is because tuples are an

immutable data type. If you need to "modify" a tuple, you must create a new one with the desired changes.

16. What is a nested dictionary, and give an example of its use case?
A

nested dictionary is a dictionary that contains other dictionaries as values. This is useful for representing more complex, hierarchical data structures. A common use case is storing information about multiple users, where each user is a key, and their information (like age and city) is stored in a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
The time complexity for accessing, inserting, and deleting elements in a dictionary is, on average,

O(1), or constant time. This is because dictionaries are built on hash tables, which allow for direct lookups.

18. In what situations are lists preferred over dictionaries?
Lists are preferred when you need an

ordered sequence of items and need to access elements by their numerical position (index). They are also ideal when the collection of items is expected to change frequently through additions or removals at various positions.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Historically, Python dictionaries did not maintain the insertion order of elements. While modern Python versions (3.7+) do remember insertion order, the fundamental principle of a dictionary is that data is retrieved by its

key, not by its position or index. You should always rely on the key for retrieval, not the element's order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List: Data is retrieved by a numerical, zero-based index. For example,

my_list[0] gets the first element.


Dictionary: Data is retrieved by a unique key. For example,

my_dict['name'] gets the value associated with the key 'name'.


Sources

#Data Structure Practical Questions

Write a code to create a string with your name and print it.

In [3]:
my_name = "Suvrodip Das"
print(my_name)

Suvrodip Das

Write a code to find the length of the string "Hello World".

In [4]:
s = "Hello World"
print(len(s))

11

Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
s = "Python Programming"
print(s[:3])

Pyt

Write a code to convert the string "hello" to uppercase

In [6]:
s = "hello"
print(s.upper())

HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [14]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
fruits_tuple = ('apple', 'banana', 'grape')
is_kiwi_present = 'kiwi' in fruits_tuple
print(is_kiwi_present)

False

Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
my_dict = {
    "name": "Alex",
    "age": 28,
    "city": "London"
}
print(my_dict)

{'name': 'Alex', 'age': 28, 'city': 'London'}

Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
my_list = [1, 'a', True]
my_tuple = (2, 'b', False)
my_dict = {"key1": 3, "key2": 'c'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 'a', True]
Tuple: (2, 'b', False)
Dictionary: {'key1': 3, 'key2': 'c'}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [29]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[26, 27, 47, 54, 90]

Write a code to create a list with strings and print the element at the third index

In [30]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

Write a code to combine two dictionaries into one and print the result.

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1 | dict2

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Write a code to convert a list of strings into a set.

In [32]:
string_list = ["apple", "banana", "apple", "cherry", "banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}